body {
    background-color: #051834;
}
h1 {
    color: whitesmoke;
}
p {
    color: whitesmoke;
}

img {
    width: 100%;
    height: auto;
}

button {
    background-color:whitesmoke;
    color: #051834;
}

